@import '_fontStyle.scss';

body {
    font-family:"Roboto","Noto Sans TC",sans-serif;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
textarea {
    resize: none;
    background-color: inherit;
}
input {
    background-color: inherit;
    border: 1px solid #000;
}