.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
    @include table {
        padding-left: 36px;
        padding-right: 36px;
    }
    @include mobile {
        padding-left: 14px;
        padding-right: 14px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    @include table  {
        margin-left: -36px;
        margin-right: -36px;
    }
    @include mobile {
        margin-left: -14px;
        margin-right: -14px;
    }
}

.col {
    padding-left: 12px;
    padding-right: 12px;
    &-3 {
        width: 25%;
    }
    &-4 {
        width: 33%;
    }
    &-6 {
        width: 50%;
    }
}


@include table {
    .col-md-6 {
        width: 50%;
    }
}
@include mobile {
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .flex-sm-wrap {
        flex-wrap: wrap;
    }
}


.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}