.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
    @include table {
        padding-left: 36px;
        padding-right: 36px;
    }
    @include mobile {
        padding-left: 14px;
        padding-right: 14px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    @include table  {
        margin-left: -36px;
        margin-right: -36px;
    }
    @include mobile {
        margin-left: -14px;
        margin-right: -14px;
    }
}

.col {
    padding-left: 12px;
    padding-right: 12px;
    @include table {
        padding-left: 36px;
        padding-right: 36px;
    }
    @include mobile {
        padding-left: 14px;
        padding-right: 14px;
    }
    &-3 {
        width: 25%;
    }
    &-4 {
        width: 33%;
    }
    &-6 {
        width: 50%;
    }
    &-md-6 {
        @include table {
            width: 50%;
        }
    }
    &-md-12 {
        @include table {
            width: 100%;
        }
    }
    &-sm {
        &-12 {
            @include mobile {
                width: 100%;
            }
        }
        &-6 {
            @include mobile {
                width: 50%;
            }
        }
        &-px-0 {
            @include mobile {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
.width {
    &-48 {
        width: 48px;
    }
    &-100 {
        width: 100px;
    }
    &-md-40 {
        @include table {
            width: 40px;
        }
    }
    &-sm-24 {
        @include mobile {
            width: 24px;
        }
    }
}

.d {
    &-flex {
        display: flex;
    }
    &-sm-none {
        @include mobile {
            display: none;
        }
    }
}
.flex-md-wrap {
    @include table {
        flex-wrap: wrap;
    }
}
.flex-sm-wrap {
    @include mobile {
        flex-wrap: wrap;
    }
}
.flex-sm-column {
    @include mobile {
        flex-direction: column;
    }
}


.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}