// background
.bg {
    &-primary {
        background: $primary-color;
    }
    &-secondary {
        background: $secondary-color;
    }
    &-light {
        background: $light-color;
    }
}

.text {
    // color
    &-primary {
        color: $primary-color;
    }
    &-light {
        color: $light-color;
    }
    &-danger {
        color: $danger-color;
    }
    &-gray {
        color: $gray-color;
    }
    // text-align
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}

// display 
.d-block {
    display: block;
}
.d {
    &-sm-block {
        @include mobile {
            display: block;
        }
    }
}

// font-size
.fs {
    &-1 {
        font-size: $fs-1;
    }
    &-2 {
        font-size: $fs-2;
    }
    &-3 {
        font-size: $fs-3;
    }
    &-4 {
        font-size: $fs-4;
    }
    &-5 {
        font-size: $fs-5;
    }
    &-6 {
        font-size: $fs-6;
    }
    &-md-3 {
        @include table {
            font-size: $fs-3;
        }
    }
    &-sm-5 {
        @include mobile {
            font-size: $fs-5;
        }
    }
    &-sm-7 {
        @include mobile {
            font-size: $fs-7;
        }
    }
    &-italic {
        font-style: italic;
    }
}

// font-weight

.fw {
    &-Medium {
        font-weight: 500;
    }
    &-bold {
        font-weight: 700;
    }
    &-black {
        font-weight: 900;
    }
}

// padding

.p {
    &-16 {
        padding: 16px;
    }
    // padding x
    &x {
        &-8 {
            padding-left: 8px;
            padding-right: 8px;
        }
        &-12 {
            padding-left: 12px;
            padding-right: 12px;
        }
        &-16 {
            padding-left: 16px;
            padding-right: 16px;
        }
        &-32 {
            padding-left: 32px;
            padding-right: 32px;
        }
        // padding x RWD
        &-sm-0 {
            @include mobile {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &-sm-14 {
            @include mobile {
                padding-left: 14px;
                padding-right: 14px;
            }
        }
        &-sm-32 {
            @include mobile {
                padding-left: 32px;
                padding-right: 32px;
            }
        }
    }
    // padding y
    &y {
        &-6 {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        &-12 {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        &-16 {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        &-32 {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        &-40 {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &-80 {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        &-296 {
            padding-top: 296px;
            padding-bottom: 296px;
        }
        // padding y RWD
        &-sm-12 {
            @include mobile {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
        &-sm-40 {
            @include mobile {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        &-sm-144 {
            @include mobile {
                padding-top: 144px;
                padding-bottom: 144px;
            }
        }
    }
    // padding top
    &t {
        &-32 {
            padding-top: 32px;
        }
        &-48 {
            padding-top: 48px;
        }
        &-60 {
            padding-top: 60px;
        }
        // padding top RWD
        &-sm {
            &-8 {
                @include mobile {
                    padding-top: 8px;
                }
            }
            &-12 {
                @include mobile {
                    padding-top: 12px;
                }
            }
            &-16 {
                @include mobile {
                    padding-top: 16px;
                }
            }
            &-24 {
                @include mobile {
                    padding-top: 24px;
                }
            }
        }
    }
    // padding right 
    &r {
        &-0 {
            padding-right: 0;
        }
    }
    // padding bottom
    &b {
        &-4 {
            padding-bottom: 4px;
        }
        &-8 {
            padding-bottom: 8px;
        }
        &-16 {
            padding-bottom: 16px;
        } 
        &-32 {
            padding-bottom: 32px;
        }
        &-48 {
            padding-bottom: 48px;
        }
        &-sm-8 {
            padding-bottom: 8px;
        }
        &-md-24 {
            @include table {
                padding-bottom: 24px;
            }
        }
        &-sm-16 {
            @include mobile {
                padding-bottom: 16px;
            }
        }
        &-sm-24 {
            @include mobile {
                padding-bottom: 24px;
            }
        }
    }
    // padding left
    &l {
        &-0 {
            padding-left: 0;
        }
        &-16 {
            padding-left: 16px;
        }
        &-32 {
            padding-left: 32px;
        }
    }
}
// RWD padding 
// @include mobile {

// margin
.m {
    &x-auto {
        margin-left: auto;
        margin-right: auto;
    }
    // margin top
    &t {
        &-auto {
            margin-top: auto;
        }
        &-4 {
            margin-top: 4px;
        }
        &-48 {
            margin-top: 48px;
        }
        &-sm-24 {
            @include mobile {
                margin-top: 24px;
            }
        }
    }
    // margin right
    &r {
        &-10 {
            margin-right: 10px;
        }
        &-48 {
            margin-right: 48px;
        }
    }
    // margin bottom
    &b {
        &-8 {
            margin-bottom: 8px;
        }
        &-16 {
            margin-bottom: 16px;
        }
        &-24 {
            margin-bottom: 24px;
        }
        &-32 {
            margin-bottom: 32px;
        }
        &-sm {
            &-24 {
                @include mobile {
                    margin-bottom: 24px;
                }
            }
        }
    }
    // margin left
    &l{
        &-auto {
            margin-left: auto;
        }
        &-32 {
            margin-left: 32px;
        }
        // margin left RWD
        &-md-16 {
            @include table {
                margin-left: 16px;
            }
        }
        &-sm-8 {
            @include mobile {
                margin-left: 8px;
            }
        }
    }
    
}

// border
.border {
    &-light {
        &-1 {
            @include mobile {
                border: 1px solid $light-color;
            }
        }
        &-top {
            border-top: 1px solid $light-color;
        }
        &-gray {
            border: 1px solid $light-gray-color;
        }
    }
    &-primary {
        &-left {
            border-left: 8px solid $dark-primary-color;
        }
    }
}
.box-shadow {
    box-shadow: 0px 2px 6px #00000029;;
}