$primary-color: #AA0601;
$secondary-color: #FBF2F2;
$light-color: #ffffff;
$danger-color: #650300;
$gray-color: #707070;
$light-gray-color: #DEE2E6;

$font-base: 1rem;
$fs-1: $font-base * 4; // 64px
$fs-2: $font-base * 3; // 48px
$fs-3: $font-base * 2.5; // 40px
$fs-4: $font-base * 2.25; // 36px
$fs-5: $font-base * 1.5; // 24px
$fs-6: $font-base * 1.25; // 20px
$fs-7: $font-base; //16px
$fs-8: $font-base * .875; //14px
