$primary-color: #AA0601;
$secondary-color: #FBF2F2;
$light-color: #ffffff;
$danger-color: #650300;

$font-base: 1rem;
$fs-1: $font-base * 4; // 64px
$fs-2: $font-base * 3; // 48px
$fs-3: $font-base * 2.25; // 36px
$fs-4: $font-base * 1.5; // 24px
$fs-5: $font-base * 1.25; // 20px
$fs-6: $font-base * .875; //14px
