<footer class="bg-primary pt-60 pb-32 pt-md-48 pb-md-40">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col">
                <ul class="text-white d-flex d-sm-none mb-24">
                    <li class="mr-48"><a href="index.html">首頁</a></li>
                    <li class="mr-48"><a href="#">系列鏡框</a></li>
                    <li class="mr-48"><a href="#">門市據點</a></li>
                    <li class="mr-48"><a href="#">部落格</a></li>
                    <li class="mr-48"><a href="#">常見問題</a></li>
                </ul>
                <ul class="text-white fs-4 fs-sm-6 pb-32">
                    <li class="d-flex"><span class="mr-10"></span><a href="+tel:0800-000-00">0800-000-00</a></li>
                    <li class="d-flex"><span class="mr-10"></span><a href="+mail:glasses@business.co">glasses@business.co</a></li>
                </ul>
            </div>
            <ul class="col text-white fs-2 fs-md-3 d-flex line-height-1">
                <li><a href="#"><img src="/assets/images/ic-social-fb.png" alt=""></i></a></li>
                <li class="ml-32"><a href="#"><img src="/assets/images/ic_social_ig.png" alt=""></a></li>
                <li class="ml-32"><a href="#"><img src="/assets/images/ic_social_line.png" alt=""></i></a></li>
            </ul>
        </div>
        <div class="row justify-content-between border-top pt-32 pt-sm-16">
            <div class="col">
                <p class="text-white">Copyright © 2020 Glasses.All rights reserved.</p>
            </div>
            <ul class="col d-flex">
                <li class="text-white mr-48">隱私權政策</li>
                <li class="text-white">服務條款</li>
            </ul>
        </div>
    </div>
</footer>