<header class="bg-primary">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col py-16">
                <a class="logo d-flex" href="index.html">logo</a>
            </div>
            <ul class="col col-sm-px-0 col-sm-12 fs-6 fs-sm-7 d-flex text-light justify-content-center align-items-center flex-sm-wrap">
                <li class="col-sm-6 text-center border-light-1"><a class="px-32 py-12" href="product.html">系列鏡框</a></li>
                <li class="col-sm-6 text-center border-light-1"><a class="px-32 py-12" href="#">門市據點</a></li>
                <li class="col-sm-6 text-center border-light-1"><a class="px-32 py-12" href="#">部落格</a></li>
                <li class="col-sm-6 text-center border-light-1"><a class="pl-32 px-sm-32 py-12" href="faq.html">常見問題</a></li>
            </ul>
        </div>
    </div>
</header>