<header class="bg-primary">
    <div class="container">
        <div class="row justify-content-between px-16">
            <div class="col">
                <a class="logo d-flex" href="index.html">logo</a>
            </div>
            <ul class="col fs-5 d-flex text-white align-items-center">
                <li><a class="px-32 py-12" href="#">系列鏡框</a></li>
                <li><a class="px-32 py-12" href="#">門市據點</a></li>
                <li><a class="px-32 py-12" href="#">部落格</a></li>
                <li><a class="pl-32 py-12" href="#">常見問題</a></li>
            </ul>
        </div>
    </div>
</header>