<header class="bg-primary">
    <div class="container">
        <div class="row justify-content-between py-16">
            <div class="col">
                <h1 class="logo">logo<img src="../assets/images/logo-white.png" alt=""></h1>
            </div>
            <ul class="col fs-5 d-flex text-white align-items-center">
                <li><a href="#">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
        </div>
    </div>
</header>