.banner-background {
    background-image: url(../../assets/images/home-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-background {
    background-image: url(../../assets/images/index-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}