.logo {
    background-image: url(/assets/images/logo-white.png);
    background-size: contain;
    // display: block;
    width: 80px;
    height: 48px;
    text-indent: 101%;
    overflow: hidden; 
    white-space: nowrap;
}