<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="banner-background py-296 py-sm-144">
      <div class="container">
        <div class="text-right">
          <p class="text-danger fs-4 fs-sm-7">Promise-Desert 2020 早春系列</p>
          <h2 class="text-danger fs-1 fs-sm-5 fw-bold pb-4 pb-sm-8">看得清，才能看得遠</h2>
          <a class="ml-auto btn btn-primary btn-small fs-sm-5" href="#">立即購買</a>
        </div>
        <div>
        </div>
      </div>
    </section>
    <section class="bg-secondary py-80 py-sm-40">
      <div class="container">
        <h2 class="text-danger fs-2 fs-sm-5 fw-bold text-center pb-16">用專業的心，做專業的事</h2>
        <ul class="row">
          <li class="col col-3 col-md-6 col-sm-12 text-center">
            <img class="width-100 pb-8" src="../assets/images/home-section2-1.png" alt="">
            <h3 class="text-danger fs-5">單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="col col-3 col-md-6 col-sm-12 text-center">
            <img class="width-100 pb-8" src="../assets/images/home-section2-2.png" alt="">
            <h3 class="text-danger fs-5">20分鐘即可取件</h3>
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="col col-3 col-md-6 col-sm-12 text-center">
            <img class="width-100 pb-8" src="../assets/images/home-section2-3.png" alt="">
            <h3 class="text-danger fs-5">安心售後服務</h3>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="col col-3 col-md-6 col-sm-12 text-center">
            <img class="width-100 pb-8" src="../assets/images/home-sectioin2-4.png" alt="">
            <h3 class="text-danger fs-5">關於鏡片</h3>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="py-80 py-sm-40">
      <div class="container">
        <h2 class="text-danger fs-2 fs-sm-5 fw-bold text-center pb-48 pb-sm-24">經典系列鏡框</h2>
        <div class="row">
          <div class="col col-4 col-md-12 text-center">
            <img class="pb-8" src="../assets/images/home-section3-1.png" alt="">
            <h4 class="fs-2 text-primary fs-italic fw-black pb-sm-24">OPTICAL</h4>
          </div>
          <div class="col col-4 col-md-12 text-center">
            <img class="pb-8" src="../assets/images/home-section3-2.png" alt="">
            <h4 class="fs-2 text-primary fs-italic fw-black pb-sm-24">SUNGLASSES</h4>
          </div>
          <div class="col col-4 col-md-12 text-center">
            <img class="pb-8" src="../assets/images/home-section3-3.png" alt="">
            <h4 class="fs-2 text-primary fs-italic fw-black pb-sm-24">FUNCTIONAL</h4>
          </div>
        </div>
      </div>
    </section>
    <section class="py-80 py-sm-40 section-background">
      <div class="container">
        <h2 class="text-light fs-2 fs-sm-5 fw-bold text-center pb-48 pb-sm-24">聯名設計鏡框</h2>
        <div class="row">
          <div class="col d-flex flex-md-wrap">
            <div class="col-md-12 text-center pb-md-24">
              <img src="../assets/images/home-section4-1.png" alt="">
              <h4 class="text-primary fs-2 fw-black fs-italic bg-light">DOUBLE A+</h4>
            </div>
            <div class="col-md-12 text-center">
              <img src="../assets/images/home-section4-2.png" alt="">
              <h4 class="text-primary fs-2 fw-black fs-italic bg-light">YOUTH</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-80 py-sm-40">
      <div class="container">
        <h2 class="text-danger fs-2 fs-sm-5 fw-bold text-center pb-48 pb-sm-24">顧客推薦</h2>
        <ul class="row">
          <li class="col col-3 col-md-6 col-sm-12 pb-md-24 pb-sm-16">
            <img src="../assets/images/home-section5-1.png" alt="">
            <div class="p-16 d-flex flex-column height-205 border-light-gray box-shadow">
              <h5 class="fw-Medium pb-8">Jessy</h5>
              <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              <div class="mt-auto">
                <time class="text-gray">2021/06/20</time>
              </div>
            </div>
          </li>
          <li class="col col-3 col-md-6 col-sm-12 pb-md-24 pb-sm-16">
            <img src="../assets/images/home-section5-2.png" alt="">
            <div class="p-16 d-flex flex-column height-205 border-light-gray box-shadow">
              <h5 class="fw-Medium pb-8">凱倫</h5>
              <p>使工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家!</p>
              <div class="mt-auto">
                <time class="text-gray">2021/04/18</time>
              </div>
            </div>
          </li>
          <li class="col col-3 col-md-6 col-sm-12 pb-md-24 pb-sm-16">
            <img src="../assets//images/home-section5-3.png" alt="">
            <div class="p-16 d-flex flex-column height-205 border-light-gray box-shadow">
              <h5 class="fw-Medium pb-8">悠悠</h5>
              <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              <div class="mt-auto">
                <time class="text-gray">2020/12/25</time>
              </div>
            </div>
          </li>
          <li class="col col-3 col-md-6 col-sm-12 pb-md-24 pb-sm-16">
            <img src="../assets/images/home-section5-4.png" alt="">
            <div class="p-16 d-flex flex-column height-205 border-light-gray box-shadow">
              <h5 class="fw-Medium pb-8">Kyuan</h5>
              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              <div class="mt-auto">
                <time class="text-gray">2020/10/31</time>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="bg-secondary py-80 py-sm-40">
      <div class="container">
        <h2 class="text-danger fs-2 fs-sm-5 fw-bold text-center pb-48 pb-sm-24">聯絡我們</h2>
        <div class="row">
          <div class="col col-6 col-md-10 col-sm-12 mx-auto">
            <p class="fs-6 fs-sm-7 mb-24">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-6 col-md-10 col-sm-12 mx-auto">
            <form class="d-flex flex-column" action="">
              <label class="mb-8" for="name">姓名</label>
              <input class="mb-16 py-6 px-12" type="text" id="name" placeholder="陳小明">
              <label class="mb-8" for="telphone">聯絡電話</label>
              <input class="mb-16 py-6 px-12" type="tel" id="telphone" placeholder="0912-345-678">
              <label class="mb-8" for="email">電子郵件</label>
              <input class="mb-16 py-6 px-12" type="email" id="email" placeholder="example@email.com">
              <label class="mb-8" for="message">意見反應</label>
              <textarea class="mb-16 py-6 px-12" name="message" id="message" cols="30" rows="8" placeholder="請輸入您的意見"></textarea>
              <div>
                <input type="checkbox" id="agree">
                <label for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
              </div>
              <a href="" class="btn btn-primary btn-big text-center fs-5 py-16 mx-auto mt-48 mt-sm-24">確認送出</a>
            </form>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
